::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #1ad;
}
.files {
	margin-top: 20px;
}
.holder-settings {
	margin: 20px 0;
}
#documentation-panel.show-documentation {
	width: 500px;
	z-index: 9999;
}
.holder-settings > div {
	display: inline-block;
	margin-right: 20px;
	font-size: 18px;
}
.reset-files-search {
	margin-left: 10px;
}
.holder-settings select {
	margin: 0 15px;
	padding: 6px 13px;
	font-size: 14px;
	color: #0f1010;
	background: #f9f9f9;
}
.sensitive span, .directories span {
	margin-right: 10px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.flex-container > div {
	flex: 1;
}
.search-data {
	text-align: right;
}
.q-params {
	margin-top: 14px;
	color: #a5a0a0;
}
.top-padding {
	padding-top: 12px;
}
.code-style {
	text-indent: 0;
}
.code-style div {
	margin-left: 15px;
}
.code-style span {
	color: #1ad;
}
.content pre {
	padding: 2em 28px;
}
.highlight .nt {
	color: #00acc1;
}
.show-documentation #content-sidenav {
	transition-delay: 0.5s;
	opacity: 1;
}
#demo-finder .container {
	padding: 0 35px;
}
#content-sidenav {
	color: #fff;
	text-indent: 24px;
	font-weight: 500;
	padding: 20px 0;
	transition: 0.5s;
	opacity: 0;
}
#content-sidenav ul {
	padding: 0;
	font-size: 15px;
}
#content-sidenav ul li {
	padding: 10px 0;
}
.content-bg {
	background-color: #1c2533;
	padding: 10px 0;
}
.padding-border {
	margin: 0;
	border-bottom: 2px solid #1ad;
	padding-bottom: 12px;
}
.h3 {
	margin-top: 25px;
}
#show-documentation {
	cursor: pointer;
	position: absolute;
	left: -55px;
	top: 50%;
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(90deg);
	display: block;
	background: #1ad;
	color: #fff;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2f3847;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* Loading */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.holder-loading {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.48);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000);
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
}
.loading {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	margin: auto;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 0.25rem solid rgba(255, 255, 255, 0.2);
	border-top-color: #1ad;
	-webkit-animation: spin 0.3s infinite linear;
	animation: spin 0.3s infinite linear;
}

/* Media query style */

@media screen and (max-width: 850px) {
	#documentation-panel.show-documentation {
		width: 100%;
	}
	#show-documentation {
		left: -37px;
		padding: 5px 10px;
		font-size: 12px;
	}
	.holder-settings > div {
		margin-top: 12px;
	}
	.flex-container {
		display: block;
	}
	.flex-container > button {
		margin: 10px 0;
		font-size: 14px;
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}